################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/micro-services/.vs/micro-services/v15
/micro-services/Common/micro-services.Common.Messaging/obj
/micro-services/Services/micro-services.Services.Customers/obj
/micro-services/Services/micro-services.Services.Vehicles/obj
/micro-services/.vs/config
/micro-services/Common/micro-services.Common.Helpers/bin/Debug/netcoreapp2.1
/micro-services/Common/micro-services.Common.Helpers/obj
/micro-services/Services/Customers/Customers.API/bin/Debug/netcoreapp2.1
/micro-services/Services/Customers/Customers.API/obj
/micro-services/Services/Customers/Customers.Domain/obj
/micro-services/Services/Customers/Customers.Infrastructure/bin/Debug/netcoreapp2.1
/micro-services/Services/Customers/Customers.Infrastructure/obj
/micro-services/Services/Customers/Customers.UnitTests/obj
/micro-services/Services/Vehicles/Vehicles.API/bin/Debug/netcoreapp2.1
/micro-services/Services/Vehicles/Vehicles.API/obj
/micro-services/Services/Vehicles/Vehicles.Domain/obj
/micro-services/Services/Vehicles/Vehicles.Infrastructure/bin/Debug/netcoreapp2.1
/micro-services/Services/Vehicles/Vehicles.Infrastructure/obj
/micro-services/Services/Vehicles/Vehicles.UnitTests/bin/Debug/netcoreapp2.1
/micro-services/Services/Vehicles/Vehicles.UnitTests/obj
/micro-services/Services/Vehicles/Vehicles.Domain/bin/Debug/netcoreapp2.1
/micro-services/Services/Customers/Customers.Domain/bin/Debug/netcoreapp2.1
/micro-services/Common/micro-services.Common.Messaging/bin/Debug/netcoreapp2.1
/micro-services/Services/Customers/Customers.UnitTests/bin/Debug/netcoreapp2.1
/micro-services/Common/micro-services.Common.Helpers/bin/Release/netcoreapp2.1
/micro-services/Common/micro-services.Common.Messaging/bin/Release/netcoreapp2.1
/micro-services/Services/Customers/Customer.APIs/app
/micro-services/Services/Customers/Customer.APIs/bin
/micro-services/Services/Customers/Customer.APIs/obj
/micro-services/Services/Customers/Customers.Domain/bin/Release/netcoreapp2.1
/micro-services/Services/Customers/Customers.Infrastructure/bin/Release/netcoreapp2.1
/micro-services/Services/Vehicles/Vehicles.APIs/bin/Debug/netcoreapp2.1
/micro-services/Services/Vehicles/Vehicles.APIs/obj/Container
/micro-services/Services/Vehicles/vehicles-apis/obj
/micro-services/obj/Docker
/micro-services/Services/Vehicles/Vehicles.APIs/obj/Docker
/micro-services/Common/Common.BackGroundJobs/bin/Debug/netcoreapp2.1
/micro-services/Common/Common.BackGroundJobs/obj
/micro-services/packages
/front-end/node_modules
/micro-services/.vs/
/micro-services/Common/Alten.Automotive.Common.Helpers/bin
/micro-services/Common/Alten.Automotive.Common.Helpers/obj
/micro-services/Common/Alten.Automotive.Common.Messaging/bin
/micro-services/Common/Alten.Automotive.Common.Messaging/obj